<h1>Créer un match en team 4vs4</h1>
<p>Invitez 4 membres de votre équipe pour pouvoir lancer la partie</p>

<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Pseudo</th>
			<th></th>
		</tr>
	</thead>
	<tbody id="participants">
		<tr>
			<td></td>
			<td><i>Place libre. Invitez un membre avec le menu de droite.</i></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td><i>Place libre. Invitez un membre avec le menu de droite.</i></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td><i>Place libre. Invitez un membre avec le menu de droite.</i></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td><i>Place libre. Invitez un membre avec le menu de droite.</i></td>
			<td></td>
		</tr>
	</tbody>
</table>

<p id="buttons_partie">
	
</p>