<h1>Matchmaking 4vs4</h1>
<p>Vous etes l'acceuil de l'interface de rencontre 4vs4 du mode de jeu Assaut SURVIVIA</p>

<p>
	<button type="button" class="btn btn-default btn-lg" id="create_partie">Créer un match en team 4vs4</button>
</p>
<p>
	Vous créez une partie pour votre équipe et vous invitez les membres qui participeront.
</p>
<p>
	<button type="button" class="btn btn-default btn-lg">Rejoindre un match libre 4vs4</button>
</p>
<p>Vous accèdez à la liste des parties libres</p>